doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="OMG! LessonRobot!")
		meta(name="renderer" content="webkit")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		title LessonRobot - Login
		link(rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/latest/css/bootstrap.min.css")
		link(rel="stylesheet" href="/static/css/style.css")
		link(rel="icon" type="image/png" sizes="256x256" href="/static/img/logo.png")
	body
		div.container
			img#logoBox(src="/static/img/logo.png")
			form#loginForm(action="/login" method="post")
				{% if error %}
				div(class="alert alert-danger" role="alert") 账号密码验证码有误
				{% end %}
				h2.text-center LessonRobot
				input(type="text" name="username" class="form-control" placeholder="账号" required autofocus)
				input(type="password" name="password" class="form-control" placeholder="密码" required)
				input(type="text" name="vcode" class="form-control" placeholder="验证码" required)
				img#vcode(src="/vcode")
				button(type="submit" id="submit" class="btn btn-lg btn-primary btn-block") 登录

	script(src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js")
	script(src="http://lib.sinaapp.com/js/bootstrap/latest/js/bootstrap.min.js")
