doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="description" content="OMG! LessonRobot!")
		meta(name="renderer" content="webkit")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		title LessonRobot
		link(rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/latest/css/bootstrap.min.css")
		link(rel="stylesheet" href="/static/css/style.css")
		link(rel="icon" type="image/png" sizes="256x256" href="/static/img/logo.png")
	body
		div.container
			img#logoBox(src="/static/img/logo.png")
			div#loginForm
				h2 Welcome to LessonRobot
				br
				div(class="alert alert-success" role="alert") 登录成功，正在加载数据...

	script(src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js")
	script(src="http://lib.sinaapp.com/js/bootstrap/latest/js/bootstrap.min.js")
	script.
		window.location.href = '/list';
